@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/



$primary: (
    50 : #e4f7f0,
    100 : #bcead9,
    200 : #8fdcc0,
    300 : #62cea6,
    400 : #40c493,
    500 : #a3233a,
    600 : #1ab278,
    700 : #16aa6d,
    800 : #12a263,
    900 : #0a9350,
    A100 : #c1ffde,
    A200 : #8effc3,
    A400 : #5bffa7,
    A700 : #41ff9a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary: (
    50 : #e1eceb,
    100 : #b4cecc,
    200 : #82aeab,
    300 : #4f8e89,
    400 : #2a756f,
    500 : #045d56,
    600 : #03554f,
    700 : #034b45,
    800 : #02413c,
    900 : #01302b,
    A100 : #69ffed,
    A200 : #36ffe7,
    A400 : #03ffe0,
    A700 : #00e8cc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$candy-app-primary: mat-palette($primary);
$candy-app-accent:  mat-palette($secondary);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-dark-theme($candy-app-primary, $candy-app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);