.title-row {
    display: flex;
    justify-content: space-between;
}

.row {
    display: inline-flex;
    width: 100%;
}

.col {
    width: 47%;
}

.button-col {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.error-code-selection-list {
    flex-grow: 1;
    overflow: auto;
    height: 660px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.category-title {
    align-items: baseline;
    justify-content: space-between;
}