<div class="title-row">
  <h1>Catégories d'erreur</h1>
  <button mat-button color="primary" (click)="add()">
    Ajouter
  </button>
</div>
<div class="row">
  <div class="col">
    <div class="title-row">
      <h3>Codes d'erreur</h3>
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          matInput
          [(ngModel)]="searchbar1"
          (ngModelChange)="searchChange1()"
        />
        <mat-spinner
          *ngIf="searchLoading1"
          matSuffix
          diameter="24"
        ></mat-spinner>
        <mat-icon *ngIf="!searchLoading1" matSuffix color="primary"
          >search</mat-icon
        >
        <mat-hint>2 caractères minimum</mat-hint>
      </mat-form-field>
    </div>
    <mat-card>
      <div class="row">
        <button mat-button color="primary" (click)="errorCodeList.selectAll()">
          Sélectionner tout
        </button>
        <button mat-button color="primary" (click)="errorCodeList.deselectAll()">
          Déselectionner tout
        </button>
      </div>
      <mat-selection-list #errorCodeList class="error-code-selection-list">
        <div *ngIf="loaded">
          <mat-list-option *ngFor="let ec of filteredErrorCodes" [value]="ec">
            {{ ec.id }}
          </mat-list-option>
        </div>
      </mat-selection-list>
    </mat-card>
  </div>
  <div class="button-col">
    <button mat-icon-button color="primary" (click)="assign()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="unassign()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="col">
    <div class="title-row">
      <h3>Catégories</h3>
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          matInput
          [(ngModel)]="searchbar2"
          (ngModelChange)="searchChange2()"
        />
        <mat-spinner
          *ngIf="searchLoading2"
          matSuffix
          diameter="24"
        ></mat-spinner>
        <mat-icon *ngIf="!searchLoading2" matSuffix color="primary"
          >search</mat-icon
        >
        <mat-hint>2 caractères minimum</mat-hint>
      </mat-form-field>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let c of filteredCategories" (opened)="opened(c)" (closed)="closed()">
        <mat-expansion-panel-header>
          <mat-panel-title class="category-title">
            <div>
              {{c.name}}
            </div> 
            <div class="delete-category">
              <button mat-icon-button  color="primary" (click)="deleteCategory(c)">
              <mat-icon>delete_outline
              </mat-icon>
            </button>
            </div>
            
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list (selectionChange)="selectionChange($event)">
          <mat-list-option *ngFor="let ec of c.relatedErrors" [value]="ec">
            {{ ec }}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
