<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    (close)="drawerClose()">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <img class="img-responsive" src="assets/logo.png" router-link="/">
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>