<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="authService.currentUserValue" (click)="drawer.toggle()">
    <div class="thicker-icon white-icon">
      <mat-icon>menu</mat-icon>
    </div>
  </button>
  <img class="img-responsive" src="assets/logo.png" router-link="/">
  <span class="fill-space"> 
  </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" *ngIf="authService.currentUserValue"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" fixedTopGap="64">
    <mat-action-list>
      <button mat-list-item (click)="redirect('student')"> Étudiants </button>
      <button mat-list-item (click)="redirect('group')"> Groups </button>
      <button  mat-list-item (click)="logout">
        Déconnecter <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>