<mat-accordion>
  <mat-expansion-panel *ngFor="let stat of display">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ stat.name }}
      </mat-panel-title>
      <mat-panel-description>
        Occurence : {{ stat.nbOccurence }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list" *ngFor="let sub of stat.subs">
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"
        >{{ sub.name }}
        <mat-panel-description>
          Occurence : {{ sub.nbOccurence }}
        </mat-panel-description>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
