.login-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 400px;
}

.sides {
    display: flex;
    flex: 1 1 auto;
}

.row {
    flex-direction: row;
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    background-image: url("https://infodiag.etsmtl.ca/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: -1rem;
}