.mat-elevation-z8 {
  display: grid;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.no-element {
  display: flex;
  white-space: pre;
  padding: 1rem;
}

.addBtn {
  margin: 1rem;
}

.btnList {
  margin-left: 0.5rem;
}
